*.py[co]

# Packages
*.egg
*.egg-info
env
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
test
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

.DS_Store*
node_modules
flow_api.log

# Editor files
*.swp

# QR codes
glu/assets/images/qr_codes/*

# Symlinks
static

