.hd.title-bar
  ul.nav
    li: a(href='#dashboard') 
      i.icon.home
      | Home
    li: a(href='#events')
      i.icon.events
      | Events
    li: a(href='#contacts')
      i.icon.contacts
      | Contacts
    li: a(href='#checkins')
      i.icon.checkins
      | Checkins
    li.vendor-tab: a(href='#vendor') 
      i.icon.vendor
      | Vendor
.bd
.ft &copy;2012 Flow Search Corporation
