.hd.title-bar
  button.back
    | Back
  if recipe
    h1= recipe.name

.bd
  if recipe
    .recipe-steps
      if recipe.image
        .image
          img(src=recipe.image)

      ul.group
        each i in recipe.ingredients
         li.group-item
           .prep
             = i.quantity
             |  
             = i.unit
             if i.preparation
               |  
               = i.preparation
            = i.name
      ol
        each d in recipe.directions
          li= d

    .movies
      .group
        each m in movies
          .group-item.movie
            img(src=m.box_art.small)
            h4
              = m.title.regular
              span.rating
                - var rating = Math.floor(m.average_rating || 0)
                while rating--
                  | ★
                
            p
              != m.link[0].synopsis
